.wpgpt-toggle {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    background: #00934a;
    color: #fff;
    width: 55px;
    height: 55px;
    padding: 0;
    border: 0;
    z-index: 9999;
}

.wpgpt-toggle .dashicons {
    font-size: 28px;
    position: relative;
    left: -5px;
}

.wpgpt-chatbox {
    display: none;
    position: fixed;
    bottom: 65px;
    left: 65px;
    height: 430px;
    width: 300px;
    border-radius: 25px;
    padding: 15px;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.wpgpt-chat-messages {
    overflow: auto;
    height: calc( 100% - 60px );
    border-radius: 15px;;
}

.wpgpt-chat-message {
    border-radius: 15px;
    background: #ccc;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 0.9em;
}

.wpgpt-chat-message.user {
    background: #bbf0ff;
}

.wpgpt-chat-input-wrapper {
    position: relative;
    top: 10px;
}

.wpgpt-chat-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-family: sans-serif;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 15px;
    resize: none;
    padding-right: 50px;
    line-height: 1.2em;
}

.wpgpt-send {
    position: absolute;
    right: 7px;
    top: 6px;
    padding: 5px;
    border-radius: 10px;
}
