<!-- wp:cover {"url":"{background_image}","id":109,"dimRatio":0,"focalPoint":{"x":"0.50","y":"0.64"},"minHeight":700,"isDark":false,"align":"full","otterConditions":[]} -->
<div class="wp-block-cover alignfull is-light" style="min-height:700px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-109" alt="" src="{background_image_description}" style="object-position:50% 64%" data-object-fit="cover" data-object-position="50% 64%"/><div class="wp-block-cover__inner-container"><!-- wp:spacer {"height":"80px","otterConditions":[]} -->
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","level":1,"style":{"color":{"text":"#121212"}}} -->
<h1 class="has-text-align-center has-text-color" style="color:#121212">{heading}</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":17},"color":{"text":"#121212"}}} -->
<p class="has-text-align-center has-text-color" style="color:#121212;font-size:17px">{paragraph}</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"},"otterConditions":[]} -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-primary"} -->
<div class="wp-block-button is-style-primary"><a class="wp-block-button__link" href="http://localhost:8082/web-agency-gb-about-us/">{link_text1}</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"is-style-secondary"} -->
<div class="wp-block-button is-style-secondary"><a class="wp-block-button__link" href="http://localhost:8082/web-agency-gb-contact-us/">{link_text2}</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"80px","otterConditions":[]} -->
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"80px","otterConditions":[]} -->
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"height":"80px","otterConditions":[]} -->
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->